//Colours should always only appear in this colours.scss
// $test: rgba( $black, .7 ) => use when need apply alpha (color opacity)

$black: #000;
$white: #fff;

$black--main: #191919;
$yellow: #fedd23;
$grey--light: #ececec;
$grey: #dcdcdc;
$grey--dark: #4d4d4d;