//inputs text, textarea
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
textarea {
    width: 100%;
    height: 50px;
    padding: 7px 10px 8px;
    border-radius: 2px;
    border: solid 1px $grey;
    background: transparent;
    -webkit-appearance: none;
    box-sizing: border-box; // redefine foundation content-box for search type
    font-size: 20px;
    //font-family: $fontFamily-light;
    text-align: left;
    @media #{$desktop-up} {
        height: 60px;
    }
    &:focus {
        //outline-color: ;
        //border-color: ;
    }
    &::placeholder {

    }
}

textarea {
    display: block;
    resize: none;
    height: 175px;
    @media #{$desktop-up} {
        height: 195px;
    }
}

label {
    font-family: $fontFamily--medium;
    font-size: 14px;
    text-transform: uppercase;
}

.input-wrap {
    margin-bottom: 15px;
    @media #{$tablet-up} {
        margin-bottom: 30px;
    }
    label,
    .label {
        display: block;
        margin-bottom: 5px;
        @media #{$tablet-up} {
            margin-bottom: 20px;
        }
    }
}


//radio/checkbox
.choose-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -20px;
    > .choose-wrap {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.choose-grid {
    display: flex;
    flex-direction: column;
    @media #{$tablet-up} {
        flex-direction: row;
        flex-wrap: wrap
    }
    > .choose-wrap {
        @media #{$tablet-up} {
            flex: 0 0 50%;
        }
    }
}

.choose-wrap {
    margin-bottom: 15px;
    @media #{$tablet-up} {
        margin-bottom: 35px;
    }
    input[type='radio'] {
        display: none;
        &:checked + label {
            .choose-icon {
                &:before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 14px;
                    height: 14px;
                    background: rgba(77, 77, 77, 0.81);
                    border-radius: 50%;
                }
            }
        }
        & + label {
            cursor: pointer;
            .choose-icon {
                position: relative;
                display: inline-block;
                width: 35px;
                height: 35px;
                border: 1px solid $grey;
                border-radius: 50%;
                vertical-align: middle;
                margin-right: 20px;
            }
        }
    }
    input[type='checkbox'] {
        display: none;
        &:checked + label {
            .choose-icon {
                &:before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(-45deg);
                    width: 18px;
                    height: 10px;
                    margin-top: -4px;
                    border-bottom: 2px solid rgba(77, 77, 77, 0.81);
                    border-left: 2px solid rgba(77, 77, 77, 0.81);
                }
            }
        }
        & + label {
            cursor: pointer;
            .choose-icon {
                position: relative;
                display: inline-block;
                width: 39px;
                height: 39px;
                border: 1px solid $grey;
                vertical-align: middle;
                margin-right: 20px;
            }
        }
    }
}


//buttons
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.btn {
    height: 50px;
    line-height: 50px;
    display: inline-block;
    padding: 0 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 0;
    border: 0;
    color: $black;
    text-transform: uppercase;
    transition: all .3s ease-out;
    -webkit-appearance: none;
    appearance: none;
    outline: 0;
    //font-family: $fontFamily-light;
    font-size: 18px;
    @media #{$desktop-up} {
        height: 60px;
        line-height: 60px;
        font-size: 20px;
    }
    &:hover,
    &:active {
        cursor: pointer;
    }
}
.btn--fullWidth {
    width: 100%;
}

.btn--submit {
    position: relative;
    width: 280px;
    height: 76px;
    background: $white;
    box-shadow: 0 10px 20px 3px rgba($black, .1);
    font-family: $fontFamily--bold;
    font-size: 13px;
    text-transform: uppercase;
    padding-left: 60px;
    &:before {
        content: "";
        position: absolute;
        left: 30px;
        top: 50%;
        width: 48px;
        height: 1px;
        background: $black;
        vertical-align: middle;
        transition: all .3s;
    }
    &:hover {
        background: $yellow;
        color: $white;
        box-shadow: none;
        &:before {
            background: $white;
        }
    }
}

//styles for input[type='file']
.jfilestyle {
    display: block;
    input[type="text"] {
        width: 100% !important;
        background: $white;
        font-family: $fontFamily--regular;
        font-size: 14px;
        color: $grey--dark;
    }
    .focus-jfilestyle {
        position: absolute;
        top: 50%;
        right: 11px;
        transform: translateY(-50%);
        label {
            display: block;
            border-radius: 2px;
            border: 0;
            background: $yellow;
            color: $white;
            text-transform: uppercase;
            font-family: $fontFamily--medium;
        }
    }
}

//form styles
form {
    .btn-wrap {
        text-align: center;
        padding-top: 20px;
        @media #{$tablet-up} {
            padding-top: 50px;
        }
    }
}

